*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    h1{
        color:goldenrod;
        font-size: 50px;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30vh 0 0 0;
    form{
        text-align: center;
        border: 2px solid #000;
        width: 30vw;
        border-radius: 20px;
        background-color:white;
        padding: 10vh 0;
        input{
            padding:1vh 5vw;
        }
        div{
            padding:5vh 0;
            label{
                font-size:20px;
                font-weight:bold
            }
        }
        input:nth-of-type(2){
            border-radius:10px;
            border:2px solid #000;
            background-color:tomato;
        }
    }
}